{% extends "base.html" %} {% load staticfiles %}
{% block title %} 登录 {% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <br>
                <form method="post" action=".">
                    {% csrf_token %}
                    <!-- 账号 -->
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <!-- 密码 -->
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary">起飞</button>
                </form>

                <br>
                <br>
                <br>
                <h5>忘记密码？</h5>
                <h5>李在赣神馍¿ 点击<a href='{% url "password_reset_recover" %}'> 这里 </a>重置密码</h5>
                <br>
                <br>
                <h5>还没有账号？</h5>
                <h5>李氏神魔恋¿ 点击<a href="{% url "userprofile:register" %}"> 芜 湖 起 飞 </a>成为阴间飞行员！</h5>
                <br>
            </div>
        </div>
    </div>
{% endblock content %}